version: '3.9'
services:
  severity_app:
    build: ./app
    container_name: severity_app
    environment:
      - GENESIS_API=http://ai.genesis.live/api/chat/completions
      - GENESIS_EMBED=http://ai.genesis.live/ollama/api/embed
      - GENESIS_MODEL=llama:latest
      - VECTORSTORE_PATH=/data/vectorstore.pkl
      - DATA_PATH=/data/tickets.csv
    volumes:
      - ./data:/data
      - ./app:/app
    env_file:
      - .env
    extra_hosts:
      - "ai.genesis.live:100.93.75.28"
    command: [ "/app/start.sh" ]
